/* ===============
   main.css styles
   =============== */
* {
  -webkit-transition: 1.0 ease;
  -moz-transition: 1.0 ease;
  -ms-transition: 1.0 ease;
  -o-transition: 1.0 ease;
  transition: 1.0 ease;
}
body {
  background-color: #9ad8da;
  padding: 100px;
  color: black;
}
input {
  max-width: 150px;
  position: relative;
  margin-top: 35px;
  /*margin: 0 10% 0 10%;*/

  /*padding: 50px 0 0 0;*/

  /*left: 40%;*/

}
.alert > p {
  color: black;
}
#input-box {
  max-width: 350px;
}
