/* ===============
   main.css styles
   =============== */
* {
  -webkit-transition: 1.0 ease;
  -moz-transition: 1.0 ease;
  -ms-transition: 1.0 ease;
  -o-transition: 1.0 ease;
  transition: 1.0 ease;
}
body {
  background-color: #9ad8da;
  font-family: times;
  margin-top: 50px;
  font-family: monospace;
}
.alert {
  border: groove 1em red;
  border-radius: 2em;
}
input {
  max-width: 150px;
  position: relative;
}
#messagesDiv {
  max-width: 150px;
}
#intro {
  color: gray;
  padding: 100px;
  text-align: center;
  font-size: 44px;
  border-radius: 1px 50px 40px 10px;
}
#intro > p:nth-child(2) {
  font-size: 12px;
}
