

/* ===============
   main.css styles
   =============== */

*{
	-webkit-transition: 1.0 ease;
	-moz-transition: 1.0 ease;
	-ms-transition: 1.0 ease;
	-o-transition: 1.0 ease;
	transition: 1.0 ease;	
}

body {
	background-color:rgb(154,216,218);
    padding: 100px;
    color: black;
}

input{
	position: relative;
	left: 40%;
}
.alert > p{
	color: black;
}












