/* 
   main.less
   ---------
   
*/

// Core variables and mixins

@import "variables.less";

*{
	-webkit-transition: 1.0 ease;
	-moz-transition: 1.0 ease;
	-ms-transition: 1.0 ease;
	-o-transition: 1.0 ease;
	transition: 1.0 ease;	
}

body{
	background-image: url("../img/background-image.jpg");
	background-size: cover;
	background-size: 100%;
/* 	background-color: @teal; */
	font-family: times;
	margin-top: 50px;
	font-family: monospace;
}

.img-rounded{
	background-color: @teal;
	border: groove 1em @red;  
	border-radius: 5em;
}

input{
	position: relative;
}

#messagesDiv{
	background-color: @teal;
	width: @max-width;
	color: brown;
}


#intro{
	// color: @gray;
	color:white;
	padding: 100px;
	text-align: center;
	font-size: 44px;
	// border-radius: 1px 50px 40px 10px;
	width: @max-width ;
	word-break: 	;
}

#intro > p:nth-child(3), p:nth-child(4) , .description{
	font-size: 12px;
}








